.tabs {
  display: flex;
  top: 35px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-bottom: var(--dark) solid thin;
  overflow-x: auto;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  overflow: auto;
}

.plusBtn {
  background: none;
  border: none;
  color: inherit;
  margin-left: 20px;
  cursor: pointer;
}